html { scroll-behavior: smooth; }

#abc{
			position: absolute;
			width: 70%;
			top: 15%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 30%;
			/*font-size: 3;*/
			/*margin: auto;*/
			text-align: center;
			/*right: 0%;*/
		}


p{
			font-family: franklin-gothic-urw, sans-serif;
			font-weight: 500;
			font-style: normal;
			padding-top:25%;
			padding-bottom: 25%;
			color:yellow;
			font-size:30px;
		}


#video{
position: fixed;
z-index: -1;
object-fit: cover;
top: 0;
left: 0;
height: 100vh;
width: 100vw;
}


#last{
margin-bottom: 60%;
}


#arrow{
	height: 75px;
	top: 4%;
}

#top{
	color:yellow;
}


